<%


%>
<!DOCTYPE html>
<html>
<head>
  <title>NYPL Emoji Bot</title>
</head>

<body>

  <h1>Missing Emoji List</h1>
<%= Images.getRandom() %>
  <ul>
    <li>📛 name of emoji</li>
  <% for (var emoji in Images.records) { %>
    <% if (Images.hasOwnProperty(emoji) && Images[emoji].length == 0) { %>
    <% } %>
    <li><%= Images[emoji] %></li>
  <% } %>
  </ul>

</body>
</html>
